.form-main {
    display: flex;
}

.label-date {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.label-distance {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.sheet {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.sheet-row {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    margin-top: 5px;
    border-radius: 5px;
}

.date {
    margin-left: 50px;
    margin-right: 50px;
}

.dist {
    margin-left: 50px;
    margin-right: 50px;
}